<div class="odontograma-container">
  <div class="odontograma-content">
    <!-- <div class="odontograma-header">
      <h1><i class="bi bi-clipboard2-pulse me-2"></i>Odontología</h1>
      <p class="text-muted">Vista dental completa del paciente</p>
    </div> -->

    <div class="odontograma-grid">
      <div class="odontograma-main-content">
        <app-odontograma-form [hidden]="activeForm !== 'odontograma'"></app-odontograma-form>
        <app-periodontograma-form [hidden]="activeForm !== 'periodontograma'"></app-periodontograma-form>
        <app-odontograma-comment-component title="Comentarios del turno"></app-odontograma-comment-component>
        <app-odontograma-comment-component title="Historia clinica del paciente"></app-odontograma-comment-component>
        <app-odontograma-comment-component title="Comentarios del turno anterior"></app-odontograma-comment-component>
      </div>

      <div class="sidebar-right">
        <div class="navigation-panel">
          <p class="navigation-title">Navegacion</p>
          <div class="btn-group w-100" role="group" aria-label="Selector de formulario">
            <button type="button" class="btn"
              [ngClass]="activeForm === 'odontograma' ? 'btn-primary' : 'btn-outline-primary'"
              (click)="setActiveForm('odontograma')">
              Odontograma
            </button>
            <button type="button" class="btn"
              [ngClass]="activeForm === 'periodontograma' ? 'btn-primary' : 'btn-outline-primary'"
              (click)="setActiveForm('periodontograma')">
              Periodontograma
            </button>
          </div>
        </div>

        <app-odontograma-actions></app-odontograma-actions>
      </div>

    </div>
  </div>

  <ul>
    <strong>Tareas</strong>
    <li>Estilos: adaptar a los estilos de la app</li>
    <li>Leyenda de estado: agregar "Tratamiento", "Otro"</li>
    <li>Funcionalidad: difuminar la pantalla hasta seleccionar paciente o nuevo paciente (agregar buscador de pacientes
      con sus turnos + crear nuevo paciente en el momento)</li>
    <li>Emprolijar impresion del odontograma para que solo se vea el odontograma, la leyenda de estado y la observacion
      de profesional</li>
    <li>Estilos: emprolijar selector de caras de diente para que sea igual al de un odontograma real</li>
    <li>Investigar: como se señalizan los estados y procedimientos en los dientes en un odontograma real</li>
    <li>Investigar: como se señalan estados del diente para la leyenda de estados</li>
    <li>Agregar: Vinculacion entre odontograma y turno (no existe tabla de odontogramas en BD)</li>
    <li>Agregar: observaciones de turno y antecedentes medicos</li>
    <li>Agregar: Flechas de navegacion para cargar odontogramas pasados que sean solo de lectura (inhabilitando su
      edicion o guardado, impresion me chupa un huevo). Revisar si esto vuelve inutl la tabla de <strong>"Historial de
        Turnos"</strong></li>
  </ul>
</div>