:host {
  display: block;
  height: auto !important;
  min-height: 100vh;
}

.app-container {
  display: block;
  min-height: 100vh;
  background-color: #f8fafc;
}

.main-content {
  display: block;
}

// Ocultar flechas de los inputs de tipo number
:host ::ng-deep input[type=number]::-webkit-outer-spin-button,
:host ::ng-deep input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

